
/* Estilos para el encabezado */
header {
    background-color: #DAA520; /* Fondo amarillo mostaza */
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid #8B4513; /* Borde marrón oscuro */
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: white; /* Texto blanco */
}

a:hover {
    text-decoration: underline; /* Subrayar al pasar el ratón */
}

/* Resto de los estilos existentes */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: url('tornillo.jpg') center center fixed;
    background-size: cover; /* La imagen de fondo cubrirá todo el cuerpo */
}

#registrar-pago-container {
    max-width: 600px;
    margin: 50px 0 50px 20px; /* Modificado para agregar margen izquierdo */
    background-color: gray;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid fuchsia;
    outline: none;
}

input[type="submit"] {
    background-color: blueviolet;
    color: black;
    cursor: pointer;
    border: 2px solid transparent;
    border-bottom: black;
}

input[type="submit"]:hover {
    background-color: yellow;
}

input[type="submit"]:before {
    content: "";
    display: block;
    border-top: 2px solid transparent;
    border-bottom: 2px solid black;
    height: 0;
}

#chat-container {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #fff; /* Fondo blanco */
    border: 2px solid #DAA520; /* Borde amarillo */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: none; /* Ocultar por defecto */
}

#chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DAA520; /* Fondo amarillo */
    padding: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

#chat-messages {
    max-height: 200px; /* Altura máxima para el área de mensajes */
    overflow-y: auto; /* Permitir desplazamiento vertical si hay demasiados mensajes */
    margin-bottom: 10px;
}

#chat-input {
    display: flex;
}

#message-input {
    flex: 1;
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #DAA520; /* Borde amarillo */
    border-radius: 4px;
}

#chat-container.chat-open {
    display: block; /* Mostrar cuando la clase chat-open está presente */
}
